* {
  box-sizing: border-box;
}

.navbar {
  background-color: #33b5e5;
  color: whitesmoke;
}

.navbarButton {
  background-color: #33b5e5;
  border: none;
}

.navlink {
  color: yellow;
}

.ntext {
  margin-right: 0.5rem;
}

.navlink {
  color: yellow;
}

.main {
  display: flex;
}

.content {
  flex-direction: column;
  width: 75%;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.aside {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-top: 0.5rem solid #33b5e5;
  background-color: lightblue;
  padding: 15px;
  color: brown;
  text-align: center;
  font-size: 14px;
  bottom: 0rem;
  margin-top: 0.5rem;
  width: 25%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
  margin-top: 0.5rem;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #9933cc;
  color: #ffffff;
  font-size: 12px;
  padding: 15px;
}

.login {
  text-align: left;
  padding: 1em;
  margin: 1em;
  border: 2px solid #d3d3d3;
  border-radius: 0.5em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-top: 100px;
}

.form {
  padding: 1em;
}

label {
  display: flex;
  font-weight: 600;
}

button {
  justify-content: flex-end;
}

.login-title {
  font-size: 1.5em;
}

.login-intro {
  font-size: large;
}

@keyframes login-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .content,
  .aside {
    width: 100%;
  }
}
